
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-blue">
		
			
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse" href="#"><span></span></a>
            <a href="#" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <!--<img src="/static/assets/images/logo.png" alt="" class="logo">
               <img src="/static/assets/images/logo-icon.png" alt="" class="logo-thumb">-->
                <b>YOUCLOUDWAN</b>
            </a>
            <a href="#" class="mob-toggler">
                <i class="feather icon-more-vertical"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="#" class="pop-search"><i class="feather icon-search"></i></a>
                    <div class="search-bar">
                        <input type="text" class="form-control border-0 shadow-none" placeholder="Search here">
                        <button type="button" class="btn-close" aria-label="Close">
                        </button>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
               <label>Organization</label>
               <li>
                   <select class="form-control form-control-default waves-effect input input--dropdown js--animations">
                        <optgroup label="I2I-Telesource">
                            <option value="bounce">Quehive</option>
                            <option value="flash">Tacitine</option>
                            <option value="pulse">Sysdrome</option>
                            <option value="rubberBand">Incube</option>
                            <option value="shake">YouCloudPay</option>
                            <option value="swing">YouCloud</option>
                        </optgroup>
                        <optgroup label="RAK Bank Group">
                            <option value="bounceIn">Dubai</option>
                            <option value="bounceInDown">Sharjah</option>
                            <option value="bounceInLeft">Abu Dhabi</option>
                            <option value="bounceInRight">Kuwait</option>
                            <option value="bounceInUp">Bahrain</option>
                        </optgroup>
                        <optgroup label="Dmart Retail">
                            <option value="hinge">Bangalore</option>
                            <option value="rollIn">Chennai</option>
                            <option value="rollOut">Mumbai</option>
                        </optgroup>
                        <optgroup label="I2I-Telesource">
                            <option value="bounce">Quehive</option>
                            <option value="flash">Tacitine</option>
                            <option value="pulse">Sysdrome</option>
                            <option value="rubberBand">Incube</option>
                            <option value="shake">YouCloudPay</option>
                            <option value="swing">YouCloud</option>
                        </optgroup>
                        <optgroup label="RAK Bank Group">
                            <option value="bounceIn">Dubai</option>
                            <option value="bounceInDown">Sharjah</option>
                            <option value="bounceInLeft">Abu Dhabi</option>
                            <option value="bounceInRight">Kuwait</option>
                            <option value="bounceInUp">Bahrain</option>
                        </optgroup>
                        <optgroup label="Dmart Retail">
                            <option value="hinge">Bangalore</option>
                            <option value="rollIn">Chennai</option>
                            <option value="rollOut">Mumbai</option>
                        </optgroup>
                        <optgroup label="I2I-Telesource">
                            <option value="bounce">Quehive</option>
                            <option value="flash">Tacitine</option>
                            <option value="pulse">Sysdrome</option>
                            <option value="rubberBand">Incube</option>
                            <option value="shake">YouCloudPay</option>
                            <option value="swing">YouCloud</option>
                        </optgroup>
                        <optgroup label="RAK Bank Group">
                            <option value="bounceIn">Dubai</option>
                            <option value="bounceInDown">Sharjah</option>
                            <option value="bounceInLeft">Abu Dhabi</option>
                            <option value="bounceInRight">Kuwait</option>
                            <option value="bounceInUp">Bahrain</option>
                        </optgroup>
                        <optgroup label="Dmart Retail">
                            <option value="hinge">Bangalore</option>
                            <option value="rollIn">Chennai</option>
                            <option value="rollOut">Mumbai</option>
                        </optgroup>
                        <optgroup label="I2I-Telesource">
                            <option value="bounce">Quehive</option>
                            <option value="flash">Tacitine</option>
                            <option value="pulse">Sysdrome</option>
                            <option value="rubberBand">Incube</option>
                            <option value="shake">YouCloudPay</option>
                            <option value="swing">YouCloud</option>
                        </optgroup>
                        <optgroup label="RAK Bank Group">
                            <option value="bounceIn">Dubai</option>
                            <option value="bounceInDown">Sharjah</option>
                            <option value="bounceInLeft">Abu Dhabi</option>
                            <option value="bounceInRight">Kuwait</option>
                            <option value="bounceInUp">Bahrain</option>
                        </optgroup>
                        <optgroup label="Dmart Retail">
                            <option value="hinge">Bangalore</option>
                            <option value="rollIn">Chennai</option>
                            <option value="rollOut">Mumbai</option>
                        </optgroup>

                    </select>

               </li>

                <li>
                    <div class="dropdown drp-user">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                            <img src="/static/assets/images/user/avatar-1.jpg" class="img-radius wid-40"
                                alt="User-Profile-Image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end profile-notification">
                            <div class="pro-head">
                                <img src="/static/assets/images/user/avatar-1.jpg" class="img-radius"
                                    alt="User-Profile-Image">
                                <span>
                                    {{ request.user.username }}
                                </span>
                            </div>
                            <ul class="pro-body">
                                <li>
                                    <a href="{% url 'logout' %}" 
                                       class="dropdown-item"><i
                                            class="feather icon-lock"></i> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        
    
</header>
<!-- [ Header ] end -->
