<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        YouCloudWan - {% block title %}{% endblock %}
    </title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="CodedThemes, AppSeed" />

	<!-- Favicon icon -->
	<link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">

	<!-- vendor css -->
	<link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="">

    {% block content %}{% endblock content %}

    <script src="/static/assets/js/plugins/popper.min.js"></script>
    <script src="/static/assets/js/plugins/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/assets/js/plugins/jquery.dataTables.min.js"></script>

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
